<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front End Example</title>
    <link href="main.css" rel="stylesheet">
</head>

<body>
 
        <nav class="col-md-3">
          <ul class="nav flex-column"> 
           <!--<ul class="nav flex-column position-absolute start-0 ">-->

              <li class="nav-item">
                <a class="nav-link text-white" href="/transcript">Transcript</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/registration">Registration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/courseLoad">Course Load</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/contractSheet">Contract Sheet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/courseOffering">Course Offering</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/" >Log out</a>
              </li>
          </ul>
        </nav>
      

</body>

</html>
